html {
  font-family: $font-main;
  font-size: 16px;
}

body {
  color: $color-gray;

  font-family: $font-main;
}

section {
  overflow: hidden;

  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-dark;

  font-family: $font-header;
}
h5 {
  font-size: 1.125rem;
}

button:focus {
  outline: none;
}
a {
  color: $color-dark;

  &:hover,
  &:focus {
    text-decoration: none;

    color: #ee3b24;
  }
}
