.header-navbar {
  transition: background-color 0.5s, padding 0.25s;

  @include lg-min {
    padding: 15px 0;

    background-color: transparent;
  }

  .nav-link {
    position: relative;

    overflow: hidden;

    @include lg-min {
      padding-top: $gap;
      padding-bottom: $gap;
    }
    &::after {
      position: absolute;
      bottom: 0;

      height: 0;

      content: "";

      opacity: 0;
      background-color: $color-light;

      @include lg-min {
        left: 0;

        width: 100%;
      }
      @include lg {
        left: 25%;

        width: 50%;
      }
    }
  }
}

.navbar-brand {
  display: inline-block;

  margin-right: 1rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;

  white-space: nowrap;

  font-size: 1.25rem;
  line-height: inherit;
}

.header-navbar .nav-item:not(.active):hover .nav-link::after,
.header-navbar .nav-item:not(.active):focus .nav-link::after {
  height: 3px;

  -webkit-transition: bottom 0.5s, opacity 0.5s;
  -o-transition: bottom 0.5s, opacity 0.5s;
  transition: bottom 0.5s, opacity 0.5s;

  opacity: 1;
}

.header-navbar .nav-item:not(.active):hover .nav-link,
.header-navbar .nav-item:not(.active):focus .nav-link {
  color: #fefefe;
}

.header-navbar--scrolled {
  @include lg-min {
    padding: 0;
    background-color: rgba($color-dark, 0.85);
  }

  .active {
    .nav-link {
      color: $color-accent !important;
      text-shadow: 0 0 1px $color-accent;

      &::after {
        height: 3px;
        opacity: 1;
        background-color: $color-accent;

        @include lg-min {
          bottom: 10px;
        }
        @include lg {
          bottom: 4px;
        }
      }
    }
  }
}
